<header class="page-header" role="banner">
  <img src="{{ '/assets/profile.jpg' | relative_url }}" alt="Profile photo" style="width:120px; border-radius:50%; margin-bottom:10px;">
  <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
  <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>

<!-- บรรทัด 2: ข้อมูลติดต่อ -->
  {% if site.contact %}
  <p style="margin-top:5px; color:#ccc; font-size:0.9em;">
    {{ site.contact }}
  </p>
  {% endif %}
  
</header>
