---
---
@import "{{ site.theme }}";

.page-header {
  background: #333333 !important;
}

.page-header::after {
  content: "";
  background: url('assets/css/profile.jpg') no-repeat right center;
  background-size: 80px auto;
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  width: 100px;
}
